@import 'global-styles.css';

body {
  background: linear-gradient(170deg, #2719C0, #383837);
}

.principal-section {
  max-width: 1188px;
  margin-top: 100px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal-title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.principal-title-wrap h1 {
  color: #fff;
  font-size: 33px;
  font-weight: bold;
  line-height: 180%;
  text-align: center;
}

.principal-title-wrap h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 187%;
  text-align: center;
}

.active-page {
  color: #E47500;
}

.world-map-image-wrap {
  margin-top: 93px;
  max-width: 1060px;
}

.world-map-image-wrap img {
  max-width: 100%;
}

.ways-contact-us-wrap {
  width: 100%;
  margin-top: 62px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

/* campo 1 do ways-contact-us-wrap */
.social-midia-wrap {
  max-width: 184px;
  margin-top: 18px;
  display: flex;
  gap: 16px;
}

.social-midia-wrap a {
  display: flex;
  background-color: #1C140F;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

/* campo 2 do ways-contact-us-wrap */
.phone-number-wrap {
  width: 439px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: relative;
}

.phone-number-wrap::after {
  content: '';
  height: 102px;
  border: 1px solid #fff;
  position: absolute;
  right: 0;
}

.phone-number-wrap::before {
  content: '';
  height: 102px;
  border: 1px solid #fff;
  position: absolute;
  left: 0;
}

.phone-number-wrap span {
  color: #fff;
  font-size: 20px;
}

@media (max-width: 1052px) {
  .phone-number-wrap {
    width: auto;
  }

  .phone-number-wrap::after, .phone-number-wrap::before {
    display: none;
  }

  .ways-contact-us-wrap {
    justify-content: center;
    gap: 50px;
  }
}


/* campo 3 do ways-contact-us-wraps */
.localization-wrap {
  display: flex;
  gap: 19px;
  justify-content: center;
  align-items: center;
}

.localization-wrap span {
  max-width: 280px;
  color: #fff;
  font-size: 20px;
}

/* Say hello form section */
.say-hello-form-section {
  max-width: 1440px;
  margin-inline: auto;
  margin-top: 147px;
  padding: 64px 40px 0 40px;
  padding-bottom: 63px;
  background-color: #1C140F;
  position: relative;
}

.say-hello-form-section::before {
  content: '';
  background-image: url(../public/images/line-before.svg);
  background-repeat: no-repeat;
  background-size: contain; /* Imagem se ajustar dentro do container */
  width: 73vw;
  max-width: 1048px;
  height: 19vw;
  max-height: 270px;
  position: absolute;
  top: 0;
  right: 0;
}

.say-hello-form-section::after {
  content: '';
  background-image: url(../public/images/line-after.svg);
  background-repeat: no-repeat;
  background-size: contain; /* Imagem se ajustar dentro do container */
  width: 40vw;
  max-width: 570px;
  height: 18vw;
  max-height: 255px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.say-hello-form-wrap {
  max-width: 671px;
  margin-inline: auto;
  position: relative;
  z-index: 1;
}

.say-hello-form-wrap h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.say-hello-form-wrap p {
  font-size: 13px;
  text-align: center;
  line-height: 189%;
}

.say-hello-form-wrap form { /* formulário */
  margin-top: 79px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.say-hello-form-wrap label {
  display: flex;
  flex-direction: column;
}

.say-hello-form-wrap form span {
  color: #4F4F4F;
  font-size: 14px;
}

.say-hello-form-wrap input, .say-hello-form-wrap textarea {
  background-color: rgba(255, 255, 255, 0.07);
  border: 1px solid #CECECE;
  border-radius: 9px;
  margin-top: 6px;
  color: #fff;
  font-size: 18px;
  padding: 0 20px;
}

.say-hello-form-wrap textarea {
  height: 232px;
  resize: none;
  width: 100%;
  padding: 20px;
}

.say-hello-form-wrap input[type='text'] {
  height: 56px;
}

.form-name-wrap {
  display: flex;
  justify-content: space-between;
}

.first-name-label, .last-name-label {
  width: 48%;
}

.say-hello-form-wrap button[type='submit'] {
  height: 57px;
  width: 193px;
  cursor: pointer;
  background-color: #DC7000;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 31px;
  margin-left: auto;
}

.say-hello-form-wrap button[type='submit']:hover {
  background-color: #ff8400;
}

.get-in-message-error {
  color: #ff3333;
}
