* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

p, a, h1, h2, h3, h4 {
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Header */
header {
  display: flex;
  margin-top: 44px;
  max-width: 1321px;
  justify-content: space-between;
  margin-inline: auto;
}

.logo a {
  font-size: 29px;
  display: flex;
  align-items: center;
  font-weight: bold;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 41px;
  padding: 0px 44px;
}

.navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.13);
}

.contact-buttom a {
  background-color: #FA9021;
  border-radius: 6px;
}

.navbar ul .contact-buttom a:hover {
  background-color: #ff8400;
}

.active {
  border-bottom: 4px solid #DC7000;
}

/* Stay in the loop section */
.stay-in-the-loop-section {
  margin-top: 105px;
  max-width: 1170px;
  margin-inline: auto;
}

.stay-in-the-loop-description-wrap h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.stay-in-the-loop-description-wrap p {
  color: #fff;
  max-width: 480px;
  margin-top: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 187%;
}

.stay-in-the-loop-wrap {
  background-color: #1C140F;
  border-radius: 15px;
  height: 189px;
  padding: 50px;
  margin-top: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stay-in-the-loop-wrap h3 {
  font-size: 30px;
  color: #fff;
  font-weight: 400;
}

.stay-in-the-loop-wrap p {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 400;
  max-width: 470px;
}

.form-email-wrap {
  background-color: #fff;
  width: 385px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  position: relative;
}

.form-email-wrap form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-email-wrap input {
  height: 38px;
  width: 70%;
  padding-left: 5%;
  font-size: 16px;
}

.form-email-wrap input::placeholder {
  color: #898989;
  font-size: 13px;
}

.form-email-wrap input:focus {
  outline: none;
}

.form-email-wrap button {
  font-size: 13px;
  color: #fff;
  background-color: #DC7000;
  border-radius: 8px;
  width: 105px;
  cursor: pointer;
}

.form-email-wrap button:hover {
  background: #ff8400;
}

/* Footer */
footer {
  margin-top: 163px;
  padding-top: 79px;
  background-color: #070707;
}

footer section {
  max-width: 1219px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.footer-logo-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  gap: 20px;
}

.footer-logo-wrap h3 {
  font-size: 24px;
  font-weight: bold;
}

.footer-logo-wrap p {
  font-size: 16px;
}

.footer-about-us-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-about-us-wrap h4 {
  font-size: 17px;
}

.footer-about-us-wrap ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-us-wrap {
  max-width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-us-wrap h4 {
  font-size: 17px;
}

.contact-us-wrap div {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.social-midia-list-wrap {
  margin-top: auto;
}

.social-midia-list {
  display: flex;
  gap: 16px;
}

.social-midia-list li a {
  display: flex;
  background-color: #fff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.copyright-wrap {
  margin-top: 53px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #D2D2D2;
}

.copyright-wrap p {
  font-size: 13px;
}

/* Confirmation message */
.confirmation-message-toast {
  display: flex;
  position: fixed;
  top: 100px;
  right: -470px;
  justify-content: start;
  padding: 0 25px;
  gap: 10px;
  align-items: center;
  width: 370px;
  height: 70px;
  border-radius: 8px;
  box-shadow: 1px 2px 10px 5px #00000031;
  z-index: 2;
  transition: transform 0.5s ease-in-out;
}

.confirmation-message-image {
  width: 30px;
  height: 30px;
}

.confirmation-message-toast p {
  font-size: 20px;
}

.confirmation-message-toast-active {
  transform: translateX(-480px);
}

.inputError {
  border: 2px solid #ff3333;
}

.inputError input {
  color: #ff3333;
}

.error-message {
  position: absolute;
  color: #ff3333;
  top: 40px;
  left: 0;
}
