@import 'global-styles.css';

body {
  background: linear-gradient(to bottom, #39289F, #402D9D);
}

/* Principal section */
.principal-section {
  display: flex;
  margin-inline: auto;
  max-width: 1146px;
  margin-top: 117px;
  height: 600px;
  position: relative;
  /* border: 1px solid red; */
}

.principal-text-wrap{
  max-width: 460px;
}

.principal-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.proved {
  color: #E87D0E;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  line-height: 155%;
}

.introduction-text {
  font-size: 16px;
  line-height: 200%;
}

.more-details-buttom a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 195px;
  height: 53px;
  background: linear-gradient(to right, #FA8305, #FB9E3C);
  border-radius: 40px;
  font-size: 16px;
  margin-top: 55px;
}

/* imagens */
.joystick-wrap {
  position: absolute;
  right: 100px;
  top: -210px;
  margin-left: 75px;
  z-index: -1;
  /* border: 1px solid red; */
}

.unity-wrap {
  position: absolute;
  left: 40%;
  top: 35%;
}

.cry-wrap {
  position: absolute;
  right: 33%;
}

.unreal-wrap {
  position: absolute;
  right: 8%;
  top: 2%;
}

/* Trending Games Section */
.trending-games-section {
  margin-inline: auto;
  max-width: 1146px;
  margin-top: 132px;
}

.trending-games-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.trending-games-wrap h3 {
  color: #fff;
  font-weight: bold;
  font-size: 31px;
}

.trending-games-wrap span a {
  background-color: rgba(255, 255, 255, 0.11);
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 139px;
  height: 57px;
  border-radius: 10px;
}

.game-list {
  list-style: none;
  margin-top: 58px;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, 251px);
  justify-content: space-between;
  grid-row-gap: 70px;
  grid-column-gap: 20px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.game-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.game-list li p {
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 22px;
}

/* Spider Man Section */
.spider-man-section {
  max-width: 1146px;
  margin-inline: auto;
  margin-top: 129px;
}

.spider-man-section h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  max-width: 826px;
  margin-inline: auto;
  line-height: 187%;
}

.spider-man-section h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  margin-top: 67px;
}

.spider-man-section p {
  color: #fff;
  font-size: 16px;
  margin-top: 32px;
  max-width: 485px;
  line-height: 187%;
}

.spider-man-image {
  margin-top: 46px;
  max-width: 1146px;
  position: relative;
}

.spider-man-image img {
  max-width: 100%;
}

.spider-man-image::before {
  content: '';
  background-image: url('../public/images/spider-man-effect.svg');
  display: inline-block;
  position: absolute;
  width: 196px;
  height: 154px;
  top: -67px;
  right: 125px;
  z-index: -1;
}

/* Secondary section (black) */
.secondary-section-bg {
  margin-top: 157px;
  margin-inline: auto;
  max-width: 1440px;
  background-image: url(../public/images/bg-black.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  background-color: #000000dc;
}

.secondary-section {
  padding-top: 93px;
  padding-bottom: 91px;
}

.secondary-section h2 {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  max-width: 770px;
  margin-inline: auto;
  text-align: center;
  line-height: 187%;
}

.secondary-section h2 + p {
  font-size: 16px;
  max-width: 770px;
  margin-inline: auto;
  text-align: center;
  line-height: 187%;
  margin-top: 25px;
}

/* Problema: centralizar os dois elementos da segunda linha */
/* .secondary-section ul {
  list-style: none;
  max-width: 1045px;
  margin-top: 99px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-row-gap: 62px;
  justify-content: space-between;
} */

/* Solução: usar display flex com justify-content: center; */
.secondary-section ul {
  list-style: none;
  max-width: 1045px;
  margin-top: 99px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 62px;
  justify-content: center;
}

.secondary-section ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 260px;
}

.circle-wrap {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

/* Recent projects section */
.recent-projects-section {
  max-width: 1170px;
  margin-top: 141px;
  margin-inline: auto;
}

.recent-projects-text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.recent-projects-text-wrap h2 {
  color: #fff;
  font-size: 30px;
}

.recent-projects-text-wrap p {
  font-size: 14px;
  line-height: 187%;
  max-width: 450px;
  text-align: center;
}

.project-list {
  list-style: none;
  margin-top: 71px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 26px;
}

.see-all-wrap {
  margin-top: 72px;
  display: flex;
  justify-content: center;
}

.see-all-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 57px;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
}
